%h1 Listing food_groups

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @food_groups.each do |food_group|
    %tr
      %td= food_group.name
      %td= link_to 'Show', food_group
      %td= link_to 'Edit', edit_food_group_path(food_group)
      %td= link_to 'Destroy', food_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Food group', new_food_group_path
