%h1 Listing ingredients

%table
  %tr
    %th Food
    %th Integer,
    %th Dish
    %th Integer,
    %th Quantity
    %th Float
    %th
    %th
    %th

  - @ingredients.each do |ingredient|
    %tr
      %td= ingredient.food_id
      %td= ingredient.integer,
      %td= ingredient.dish_id
      %td= ingredient.integer,
      %td= ingredient.quantity
      %td= ingredient.float
      %td= link_to 'Show', ingredient
      %td= link_to 'Edit', edit_ingredient_path(ingredient)
      %td= link_to 'Destroy', ingredient, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ingredient', new_ingredient_path
