%p#notice= notice

%p
  %b Name:
  = @dish.name
%p
  %b Price:
  = @dish.price
%p
  %b Total weight:
  = @dish.total_weight
%p
  %b Dish group:
  = @dish.dish_group_id

= link_to 'Edit', edit_dish_path(@dish)
\|
= link_to 'Back', dishes_path
